/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #966f33;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
}
.wrapper {
  z-index: 10000;
  width: 605px;
  background: rgba(255, 255, 255, 0.40);
  border-radius: 20px;
  padding: 30px 30px 25px;
  /* box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1); */
  border: 1px solid rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.197);
}
header,
.content :where(i, p, span) {
  color: #202842;
}
.wrapper header {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.wrapper .content {
  margin: 35px 0;
}
.content .quote-area {
  display: flex;
  justify-content: center;
}
.quote-area i {
  font-size: 15px;
}
.quote-area i:first-child {
  margin: 3px 10px 0 0;
}
.quote-area i:last-child {
  display: flex;
  margin: 0 0 3px 10px;
  align-items: flex-end;
}
.quote-area .quote {
  font-size: 22px;
  text-align: center;
  word-break: break-all;
  font-weight: 600;
}
.content .tags {
  display: flex;
  font-size: 18px;
  margin-top: 20px;
  justify-content: flex-start;
  font-weight: 600;
  text-transform: uppercase;
}
.content .author {
  display: flex;
  font-size: 18px;
  /* margin-top: 20px; */
  font-style: italic;
  justify-content: flex-end;
  font-weight: 700;
}
  
.author span:first-child {
  margin: -7px 5px 0 0;
  font-family: monospace;
}
.wrapper .buttons {
  border-top: 1px solid #000;
}
.buttons .features {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.features ul {
  display: flex;
}
.features ul li {
  margin: 0 5px;
  height: 47px;
  width: 47px;
  display: flex;
  cursor: pointer;
  color: #000;
  list-style: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  transition: all 0.3s ease;
}
.features ul li:first-child {
  margin-left: 0;
}
ul li:is(:hover, .active) {
  color: #fff;
  background: #5372f0;
}
ul .speech.active {
  pointer-events: none;
}
.buttons button {
  border: none;
  color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  padding: 13px 22px;
  border-radius: 30px;
  background: #000;
  transition: all 0.3s ease;
}
.buttons button.loading {
  opacity: 0.7;
  pointer-events: none;
}

.buttons button:hover {
  background: #2c3e50;
}

/* animation */

/* @import url(https://fonts.googleapis.com/css?family=Poiret+One); */

/* body {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background: hsla(0, 5%, 5%, 1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
    to right top,
    hsla(0, 5%, 15%, 0.5),
    hsla(0, 5%, 5%, 1)
  );

  background-image: -moz-linear-gradient(
    to right top,
    hsla(0, 5%, 15%, 0.5),
    hsla(0, 5%, 5%, 1)
  );
} */

footer {
  position: fixed;
  margin-top: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
}
footer p {
  margin: 0;
}
footer a {
  text-decoration: none;
  color: #020303;
  font-weight: 600;
}
