@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary: #a84fff;
  --secondary: #d81e58;
  --dark: #131a26;
  --light: #eeeeee;
  --grey: #888888;

  /* --font: "Fira Sans", sans-serif;
  --font-quote: "Fira Code", monospace; */

  --primary-width: 820px;
}

@media (max-width: 968px) {
  :root {
    --primary-width: 450px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background-color: #966f33;
    background-image: url("https://www.transparenttextures.com/patterns/shley-tree-1.png");
}

h1 {
  font-size: 2rem;
  color: #fff;
  user-select: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.quote {
  position: relative;
}

blockquote {
  font-family: var(--font-quote);
  max-width: var(--primary-width);
  font-size: 25px;
  background-color: var(--dark);
  padding: 3rem 2rem;
  border-radius: 1.5rem;
  color: #fff;
}

.anime,
.character {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: var(--light);
  border-radius: 1.5rem;
  font-size: 18px;
  letter-spacing: 1px;
  max-width: 360px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

.anime {
  background-color: var(--secondary);
  font-weight: 400;
  transform: translate(-25%, 50%);
}

.character {
  background-color: var(--primary);
  font-weight: 700;
  transform: translate(25%, 50%);
  position: absolute;
  right: 0;
  bottom: 0;
}

.btn {
  appearance: none;
  border: none;
  outline: none;

  background-color: var(--primary);
  color: #fff;
  padding: 0.5rem 1.2rem;
  border-radius: 3rem;
  margin-top: 64px;
  margin-bottom: 64px;
  transition: all 0.4s;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  user-select: none;
}

.btn:hover {
  background-color: var(--secondary);
}

.buttons .features {
  display: flex;
  /* margin-top: 20px; */
  align-items: center;
  justify-content: space-around;
  width: var(--primary-width);
}
.features ul {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}
.features ul li {
  margin: 0 10px;
  height: 60px;
  width: 60px;
  display: flex;
  cursor: pointer;
  color: #fff;
  list-style: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  transition: all 0.3s ease;
  font-size: 20px;
}
.features ul li:first-child {
  margin-left: 0;
}
ul li:is(:hover, .active) {
  color: #fff;
  background: var(--primary);
}
ul .speech.active {
  pointer-events: none;
}
/* .buttons button {
    border: none;
    color: #fff;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    padding: 13px 22px;
    border-radius: 30px;
    background: #000;
    transition: all 0.3s ease;
  } */

.buttons button.loading {
  opacity: 0.7;
  pointer-events: none;
}

.buttons button:hover {
  background: #2c3e50;
}

/* Loader */

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.buttons button.loading {
  opacity: 0.7;
  pointer-events: none;
}

/* footer */

/* footer {
  width: 100%;
  height: 20px;
  text-align: center;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e1e1e1;
  padding: 10px 0;
}

footer p{
  margin: 0;
}

footer a{
  text-decoration: none;
  color: #333333;
  margin: 0;
} */

footer {
  position: fixed;
  margin-top: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
}
footer p {
  margin: 0;
}
footer a {
  text-decoration: none;
  color: #020303;
  font-weight: 600;
}
